$ubuntu--red: #de382b;
$ubuntu--green: #39b54a;
$ubuntu--yellow: #ffc709;
$ubuntu--blue: #006fb8;
$ubuntu--magenta: #762671;
$ubuntu--cyan: #00cdcd;
$ubuntu--black: #010101;
$ubuntu--white: #cccccc;
$ubuntu--bright-black: #808080;
$ubuntu--bright-red: #ff0000;
$ubuntu--bright-green: #00ff00;
$ubuntu--bright-yellow: #ffff00;
$ubuntu--bright-blue: #0000ff;
$ubuntu--bright-magenta: #ff00ff;
$ubuntu--bright-cyan: #00ffff;
$ubuntu--bright-white: #ffffff;
